{% extends "index.html" %}
{% block content %}
<section>
    <center>
        <div style="width: 80%; ">
            <div class="mt-3 mb-2 bg-secondary p-2 text-white">공지 게시판</div>
        <div class="bg-secondary p-2 text-dark bg-opacity-50">1. 과도한 19금 혹은 미성년자를 지칭한 성행위 만화는 지양됩니다</div>
        <div class="bg-secondary p-2 text-dark bg-opacity-25">2. 성의없는 만화는 관리자에 의해 삭제될 수 있습니다</div>
        <div class="bg-secondary p-2 text-dark bg-opacity-50">3. 만화 사진 업로드 과정에서 여러 사진 선택은 ctrl을 누른채로 사진 클릭!</div>
        <div class="bg-secondary p-2 text-dark bg-opacity-25">4. 현재 개발 중입니다. 추후에는 후원 이외 선불 시스템 및 다양한 업데이트 예정</div>

    </div>
    </center>

</section>
{% endblock %}